* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: opensansregular;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: opensansbold;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

.banner {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
  width: 100%;
}

.banner:after {
  content: "";
  position: absolute;
  opacity: 0.60;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: -1;
  width: 100%;
}
  
.logo {
  width: 180px;
}

.menu-container {
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 460px;
  list-style-type: none;
}

.menu-list {
  text-decoration: none;
  color: #ffffff;
  font-size: 10px;
  font-family: opensansregular;
  text-transform: uppercase;
}

.burger-icon {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-right: 35px;
}

.title {
  font-size: 35px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 145px;
  font-family: opensansbold;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.6;
}

.trends {
  width: 100%;
}

.trends-subtitle, .shop-subtitle {
  font-family: opensansbold;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 1.3;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.trends-subtitle::after, .shop-subtitle::after {
  content:"";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 23px;
  background-color: #b59f5b;
  width: 65px;
  height: 3px;
}

.trends-items {
  display: flex;
}

.trends-item {
  display: flex;
  align-items: flex-end;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
  width: 25%;
  height: 320px;
}

.trends-item1 {
  background-image: url(../images/trend1.jpg);
}

.trends-item2 {
  background-image: url(../images/trend2.jpg);
  margin: 0 5px;
}

.trends-item3 {
  background-image: url(../images/trend3.jpg);
  margin-right: 5px;
}

.trends-item4 {
  background-image: url(../images/trend4.jpg);
}

.trends-item:after {
  content: "";
  position: absolute;
  opacity: 0.60;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: -1;
  width: 100%;
}

.trends-item-subtitle {
  font-family: opensansbold;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.3;
}

.trends-container {
  border: solid 3px #b59f5b;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  padding: 40px 35px;
  align-items: flex-end;
}

.page {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.content {
  width: 100%;
  padding-left: 35px;
  margin-right: 135px;
}

.content-item {
  display: flex;
  align-items: flex-start;
  margin-top: 60px;
  padding-bottom: 20px;
}

.picture {
  max-width: 380px;
  padding-right: 30px;
  margin-bottom: 15px;
}

.tag-list, .trends-tag-list {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  list-style-type: none;
  flex-wrap: wrap;
}

.tag-item, .trends-tag-item {
  font-family: opensansbold;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  padding-right: 20px;
}

.subtitle {
  font-family: opensansbold;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 1.3;
}

.postheader {
  display: flex;
  padding-top: 30px;
  padding-bottom: 50px;
}

.date {
 font-family: opensansregular;
 font-size: 12px;
 color: #888888;
 margin-right: 10px;
}

.author {
 font-family: opensansbold;
 font-size: 12px;
 color: #000000; 
}

.text {
 font-family: opensansregular;
 font-size: 15px;
 color: #0f0d0e; 
}

.newtext {
 font-family: opensansregular;
 font-size: 15px;
 color: #0f0d0e;
 margin-bottom: 10px;
}

.sidebar {
  margin-top: 60px;
  max-width: 300px;
  padding-right: 35px;
}

.sidebar-item {
  margin-bottom: 60px;
}

.sidebar-subtitle {
 font-family: opensansbold;
 font-size: 10px;
 color: #0f0d0e;
 text-transform: uppercase;
 text-align: center;
}

.sidebar-subtitle::after {
  content:"";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 23px;
  background-color: #b59f5b;
  width: 65px;
  height: 3px;
}

.widget {
  display: flex;
  margin-bottom: 23px;
}

.widget-icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.widget-link {
  text-decoration: none;
  color: #0f0d0e;
}

.widget-subtitle {
 font-family: opensansbold;
 font-size: 10px;
 text-transform: uppercase;
 line-height: 1.3
}

.search {
  display: flex;
  }

.search-group {
  width: 100%;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

.field {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 47px;
  padding: 15px 20px;
  background: #f3f7f5;
}

.button {
  border: none;
  width: 55px;
  height: 47px;
  color: #ffffff;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.submit {
  border: none;
  width: 100%;
  height: 45px;
  color: #ffffff;
  background-color: #b59f5b;
  margin-top: 20px;
  font-family: opensansbold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.full-tag-list {
list-style-type: none;
display: flex;
flex-wrap: wrap;
}

.full-tag-list-item {
 font-family: opensansbold;
 font-size: 10px;
 color: #0f0d0e;
 text-transform: uppercase;
 text-decoration: none;
 border: 3px solid #f3f3f1;
 padding: 5px 15px;
 margin-right: 5px;
 margin-bottom: 5px;
 line-height: 3;
}

.categories-list {
  list-style-type: none;
}

.category {
 font-family: opensansbold;
 font-size: 10px;
}

.category::after {
  content:"";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 17px;
  background-color: #ededed;
  width: 100%;
  height: 1px;
}

.category-link {
 color: #000000;
 text-decoration: none;
 font-size: 14px;
}

.category-count {
 font-family: opensansbold;
 font-size: 10px;
 color: #b59f5b;
 vertical-align: top;
}

.shop {
  margin-right: auto;
  margin-left: auto;
}

.shop-items {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

.shop-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: 30px;
  max-width: 28%;
  align-items: center;
}

.shop-item-picture {
  margin-bottom: -20px;
}

.shop-item-link {
  color: #b59f5b;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
}

.shop-item-subtitle {
  font-family: opensansbold;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 1.3;
}

.shop-item-text {
 font-family: opensansregular;
 font-size: 15px;
 color: #0f0d0e; 
}

.shop-container {
  padding-top: 35px;
  outline: 3px solid #b59f5b;
  outline-offset: 20px;
  flex-grow: 1;
}

.purchase {
  margin: 25px;
  display: flex;
  justify-content: space-between;
}

.price {
  align-self: flex-end;
}

.old-price {
  text-decoration: line-through;
  font-family: opensansbold;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.new-price {
  font-family: opensansbold;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.shop-button {
  border:none;
  background-color:#b59f5b;
  text-decoration: none;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: opensansbold;
  font-size: 14px;
  text-transform: uppercase;
  width: 140px;
  height: 50px;
  text-align: center;
}

.button-text {
  font-family: opensansbold;
  font-size:14px;
  color:#ffffff;
  margin: 20px 30px;
}

.socials {
  list-style-type: none;
  background-color: #f3f7f5;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.socials-list:nth-child(n+2) {
  margin-left: 30px;
}

.social-icon-twitter {
  background-image: url(../svg/004-twitter.svg);
}

.social-icon-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.social-icon-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.social-icon-instagram {
  background-image: url(../svg/005-instagram.svg);
}

.social-icon-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright-link{
 text-decoration: none;
 color: #999999;
 font-family: opensansbold;
 font-size: 12px;
}

.copyright {
  margin-top: 75px;
  margin-bottom: 40px; 
  display: flex;
  justify-content: center;
}

.popup-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1;
}

.hidden {
  display: none;
}

.popup {
  background-color: #ffffff;
  z-index: 2;
  padding: 55px 30px;
  position: relative;
}

.popup-title {
  font-family: opensansbold;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

.popup-title::after {
  content:"";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 30px;
  background-color: #b59f5b;
  width: 65px;
  height: 3px;
}

.form {
  max-width: 330px;
}

.select-title, .radio-title, .question-form-title {
 font-size: 12px;
 font-family: opensansregular;
 font-weight: inherit;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  box-sizing: border-box;
  border: none;
  background-color: #f3f7f5;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px 20px;
  margin-top: 10px;
}

.radio-title {
  display: block;
  padding-top: 30px;
  padding-bottom: 15px;
}

.radio {
  position:absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio-group-text {
  margin-right: 25px;
  font-size: 12px;
  font-family: opensansregular;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.radio:checked {
  outline: 3px solid #000000;
  outline-offset: 5px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
  }

.question-form-title {
  padding-top: 35px;
  padding-bottom: 12px;
}

.question-form-field {
  width: 100%;
  min-height: 130px;
  resize: none;
  border: none;
  background-color: #f3f7f5;
  padding-left: 20px;
  padding-top: 20px;
  font-family: opensansregular;
}

.question-form-button {
  border: none;
  padding: 15px 55px;
  color: #ffffff;
  background-color: #b59f5b;
  font-family: opensansbold;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 30px;
  width: 100%;
}

.form-button {
  text-align: center;
}

.close-button {
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  background-color: #000000;
  position: absolute;
  top: -30px;
  right: 0;
  border: none;
}

@media (min-width: 1200px) {
  .burger-menu {
    display: none;
  }
}

@media (max-width: 1199px) {

  .banner {
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .title {
  font-size: 30px;
  padding-left: 80px;
  padding-right: 80px;
  }

  .trends-items {
    display: flex;
    flex-wrap: wrap;
  }

  .trends-container {
  margin-left: 25px;
  margin-right: 25px;
  padding: 35px 30px;
  }

  .trends-item {
    width: 49%;
    margin-top: 10px;
    height: 250px;
  }

  .trends-item-subtitle {
    font-size: 10px;
  }

  .menu-list {
    display: none;
  }

  .menu-container {
    width: 25px;
  }

  .content {
  padding-right: 35px;
  padding-left: 35px;
  margin-right: 0;
  }

  .content-item {
    flex-direction: column;
    border-bottom: 3px solid #ededed;
  }

  .picture {
    width: 100%;
    max-width: 100%;
    padding-right: 0px;
  }

  .shop-items {
   flex-wrap: wrap;
  }

  .shop-item {
  max-width: 39%;
  }

  .postheader{
    padding-bottom: 35px;
  }
}



  @media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trends-item {
    width: 24%;
    height: 320px;
    }
  }

@media (max-width: 640px) {
  .banner {
    background-image: url(../images/banner-mobile.jpg);
  } 

  .title {
  font-size: 20px;
  padding-top: 45px;
  }

.container {
  padding: 0;
}

  .logo {
    order: 1;
    width: 100%;
    padding: 85px 45px 0px 45px;
  }

  .menu-container {
    position: absolute;
    right: 15px;
    top: 30px;
  }

  .trends-item {
    width: 100%;
    height: 230px;
  }

  .trends-container {
    width: 100%;
  }

  .page {
    flex-direction: column;
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .picture {
    max-width: 100%;
    padding-right: 0;
  }

  .sidebar-subtitle {
    font-size: 15px;
  }

  .sidebar {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
  }

  .widget-subtitle {
    font-size: 14px;
  }

  .shop-items {
    justify-content: center;
  }

  .shop-item {
  max-width: 100%;
  }
}

 @media (max-width: 640px) and (orientation: landscape) {
  .trends-item {
    width: 48%;
    height: 250px;
    }
  }
